* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Poppins", sans-serif;
    overflow-y: auto;

}

body::-webkit-scrollbar {
    display: none;
}

/* section2 */

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 15px 40px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    color: #1D232C;


}

.section2__one {
    font-size: 20px;

}

.section2__two {
    display: flex;
    font-size: 18px;
    gap: 40px;
}

.section2__two a {
    color: inherit;
    text-decoration: none;
}

.section2__two p:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Section 3 */
.section3 {
    display: flex;
    justify-content: center;
}

.section3 h1 {
    font-size: 28px;
}

.section3__one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1D232C;
    color: rgb(228, 228, 228);
    width: 65%;
    height: 600px;
    border-radius: 10px;
    margin: 50px 30px;
    padding: 0 50px;
    gap: 10px;
}

.section3__one input {

    height: 60px;
    border-radius: 10px;
}

.section3__one .message {
    height: 100px;
}

.section3__one button {
    width: 90px;
    height: 35px;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: #0056B3;
    cursor: pointer;
}

/* Section 10 */
.section10 button img {
    height: 25px;
}

.section10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 28px;
}

.section10 input {
    border: #1D232C solid 3px;
    width: 90%;
    height: 40px;
}

.section10 button {
    cursor: pointer;
    background-color: #1D232C;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 10px;
    font-size: 25px;
    gap: 10px;
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Section 11 */

.section11 {
    background-color: #1D232C;
    color: white;
    display: flex;
    gap: 5px;
    font-size: 28px;
    flex-direction: column;
    padding: 40px 0 20px 40px;
}

.section11__one {
    display: flex;
    gap: 50px;
    padding: 30px 0 30px 15px;
}

.section11__one img {

    width: 30px;
}

.section11 h4 {
    font-weight: 400;
}